@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto Condensed", serif;
  --bg-color-primary: #F5F5F5;
  --bg-color-container: #FFFFFF;
  --box-shadow: #5e5e5e40;
  --text-color: #424242;
}

html, body, #root {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color-primary);
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  gap: 25px;
}